TRINITY_UPDATE_HOST=192.168.1.190
TRINITY_UPDATE_USER=phoenyx
TRINITY_UPDATE_PATH=/home/phoenyx/trinity-updates/releases
TRINITY_SSH_KEY_PATH=C:\Users\you\.ssh\trinity_update_ed25519
TRINITY_UPDATER_PRIVATE_KEY_PATH=C:\Users\you\.trinity-release\updater\trinity-updater.key
TRINITY_UPDATER_PRIVATE_KEY_PASSWORD=replace-me
TRINITY_UPDATE_BASE_URL=https://updates.akuji.org
